
php_flag display_errors off

<IfModule mod_rewrite.c>
    RewriteEngine On

    
    RewriteRule ^(view|model|helper|controller|config)($|/) - [F,L]

    #block .php and redirct 
    RewriteCond %{THE_REQUEST} \.php [NC]
    RewriteRule ^ - [R=404,L]

    # aloow real file
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule . - [L]

    #hide .php
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L,QSA]




</IfModule>



